<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msmp.platform.gateway.dao.IPlugDao">


    <select id="selectPlug" resultType="java.lang.String">
        <![CDATA[
          SELECT
            plug_key plugKey
          FROM
            plug_info
          WHERE enable = '1'
        ]]>
    </select>

    <select id="selectFlowPlug" resultType="java.util.Map">
        <![CDATA[
          SELECT
            service_id serviceId,
            flow_count flowCount
          FROM
            service_flow_info
          WHERE enable = '1'
        ]]>
    </select>

    <select id="selectIpPlug" resultType="java.lang.String">
        <![CDATA[
          SELECT ip_address ipAddress FROM ip_filter_info WHERE enable = '1'
        ]]>
    </select>


</mapper>